.heading h1 {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-top: 5%;
  font-size: 4rem;
}
.heading span {
  color: #0060ff;
}

.heading h2 {
  font-weight: normal;
}

.heading {
  font-family: 'Pretendard', sans-serif;
  text-align: center;
}

.about {
  font-family: 'Pretendard', sans-serif;
  margin-left: 5%;
  margin-top: 10%;
}