@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "UbuntuMono";
    src: url("https://github.com/google/fonts/blob/main/ufl/ubuntumono/UbuntuMono-Regular.ttf")
      format("ttf");
    font-weight: normal;
    font-style: normal;
  }